/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: auto;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

img {
  height: 50vmin;
  width: 100vmin;
  pointer-events: none;
  animation: logoRotate 10s linear infinite;
}

@keyframes logoRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#heading {
  color: orangered;
  font-weight: bolder;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}